<section>
  <div class="grid-container">
    {{#each education}}
    <article>
      <div class="grid-x align-justify align-middle">
        <div>
          <h4>
            {{this.school}} <small>{{this.location}}</small>
          </h4>
        </div>
        <h6>
          {{this.start}} - {{this.end}}
        </h6>
      </div>
      <p>
        {{this.details}}
      </p>
    </article>
    <br>
    {{/each}}
  </div>
</section>