<section class="dark-theme">
  <div class="grid-container">
    {{#each experience}}
    <article>
      <div class="grid-x align-justify align-middle">
        <h4 class="cell small-12 medium-auto text-secondary">
          {{this.title}} <small>{{this.company}}</small>
        </h4>
        <h6 class="cell small-12 medium-auto medium-text-right">
          {{this.start}} - {{this.end}}
        </h6>
      </div>
      <p>
        {{this.details}}
      </p>
    </article>
    <br>
    {{/each}}
  </div>
</section>